@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --wk-background-primary: #ffffff;
      --wk-background-secondary: #0000000d;
      --wk-foreground-primary: #000000;
      --wk-foreground-secondary: #00000099;
    }
  }
}
